.hcenter {
  text-align: center;
}

a {
  cursor: pointer;
}

.form-group {
  width: 20%;
  display: inline-block;;
  margin-left: 1%;
  margin-right: 1%;
}

.form-group label {
  margin: 0;
  padding: 0;
}

.form-group input.form-control {
  margin-top: 0;
}
